@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
@import "./custom";
body {
  font-family: "Source Sans Pro";
  height: 100%;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.btn-primary {
  color: #fff;
  background-color: #0063e6;
  border-color: #0063e6;
  &:hover {
    background-color: #f0f6ff;
    color: #0063e6;
  }
}

.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 7px 0.75rem;
  line-height: 1.5;

  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

table {
  border: 1px #e6e6e6 solid;
  border-radius: 4px;
  width: auto;
  border-collapse: collapse;
  table-layout: fixed;
  thead {
    background-color: #f7f7f7;
    th {
      cursor: pointer;
      color: #666666;
      padding: 14px 24px 13px;
      text-align: left;
      // &:last-of-type {
      //   padding-right: 24px;
      // }
    }
  }
  tbody {
    overflow: auto;
    width: 100%;
    tr {
      background-color: #ffffff;
      color: #666666;
      transition: background-color 0.3s ease-in-out;
      &:nth-child(even) {
        background-color: #f7f7f7;
      }
      &:hover {
        background-color: #f0f6ff;
      }
      td {
        padding: 14px 24px 13px;
        text-align: left;
        &:last-of-type {
          padding-right: 24px;
        }
      }
    }
  }
}
.m-auto {
  margin: 0 auto;
}
